//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Fun         3
#define Game        4
#define Gameplus    5

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        Bootloader {
            bindings = <&bootloader>;
            key-positions = <0 10 21 9 19 30>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
            &kp Q  &kp W  &kp E                 &kp R      &kp T    &kp Y  &kp U           &kp I      &kp O    &kp P
            &kp A  &kp S  &kp D                 &kp F      &kp G    &kp H  &kp J           &kp K      &kp L    &kp SEMICOLON
&kp ESCAPE  &kp Z  &kp X  &kp C                 &kp V      &kp B    &kp N  &kp M           &kp COMMA  &kp DOT  &kp SLASH      &kp LC(B)
                          &kp LS(LA(LC(LGUI)))  &kp SPACE  &mo 1    &mo 2  &kp LEFT_SHIFT  &kp MINUS
            >;
        };

        Nav {
            display-name = "Nav";
            bindings = <
        &kp TAB           &kp LG(TAB)        &kp LC(LS(TAB))  &kp LC(TAB)   &kp C_VOLUME_UP      &kp HOME    &kp PAGE_DOWN  &kp PAGE_UP      &kp END        &kp DEL
        &sk LEFT_SHIFT    &sk LEFT_ALT       &sk LCTRL        &sk LEFT_GUI  &kp C_VOLUME_DOWN    &kp LEFT    &kp DOWN       &kp UP           &kp RIGHT      &kp BACKSPACE
&trans  &kp LA(LG(LEFT))  &kp LA(LG(RIGHT))  &kp C_PREV       &kp C_NEXT    &kp C_PLAY_PAUSE     &kp C_MENU  &caps_word     &kp PRINTSCREEN  &kp LC(SPACE)  &kp ENTER      &trans
                                             &trans           &trans        &trans               &trans      &trans         &trans
            >;
        };

        Sym {
            display-name = "Sym";
            bindings = <
        &kp TILDE  &kp LEFT_BRACKET  &kp LEFT_BRACE  &kp LEFT_PARENTHESIS  &kp EXCLAMATION    &kp BACKSLASH  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE  &kp RIGHT_BRACKET  &kp CARET
        &kp MINUS  &kp SINGLE_QUOTE  &kp EQUAL       &kp DOUBLE_QUOTES     &kp PLUS           &kp ASTRK      &sk LEFT_GUI           &sk LCTRL        &sk LEFT_ALT       &sk LEFT_SHIFT
&trans  &kp HASH   &kp AT            &kp DOLLAR      &kp UNDERSCORE        &kp PERCENT        &kp AMPERSAND  &kp PIPE               &kp LESS_THAN    &kp GREATER_THAN   &kp GRAVE       &trans
                                     &trans          &trans                &trans             &trans         &trans                 &trans
            >;
        };

        Fun {
            display-name = "Fun";
            bindings = <
        &kp NUMBER_1    &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5    &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0
        &sk LEFT_SHIFT  &sk LEFT_ALT  &sk LCTRL     &sk LEFT_GUI  &kp F11         &kp F12       &sk LEFT_GUI  &sk LCTRL     &sk LEFT_ALT  &sk LEFT_SHIFT
&trans  &kp F1          &kp F2        &kp F3        &kp F4        &kp F5          &kp F6        &kp F7        &kp F8        &kp F9        &kp F10         &trans
                                      &trans        &trans        &trans          &trans        &trans        &trans
            >;
        };

        Gaming {
            display-name = "Game";
            bindings = <
            &kp Z           &kp X  &kp C      &kp V         &sl 5     &trans  &trans  &trans  &trans  &trans
            &kp TAB         &kp Q  &kp W      &kp E         &kp R     &trans  &trans  &trans  &trans  &trans
&kp ESCAPE  &kp LEFT_SHIFT  &kp A  &kp S      &kp D         &kp F     &trans  &trans  &trans  &trans  &trans  &trans
                                   &kp LCTRL  &kp LEFT_ALT  &trans    &trans  &trans  &trans
            >;
        };

        Gaming+ {
            display-name = "Game+";
            bindings = <
        &kp F10  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp T     &kp RA(RC(Y))  &kp RA(RC(U))  &trans  &trans  &kp LC(RA(DEL))
        &kp L    &kp O         &kp Y         &kp K         &kp G     &kp F5         &kp F7         &trans  &trans  &kp F12
&trans  &to 0    &trans        &trans        &trans        &trans    &trans         &trans         &trans  &trans  &kp F22          &kp LA(F4)
                               &kp J         &kp I         &kp M     &trans         &trans         &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        NumLayer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
